.header {
    @include clearfix;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 75px;
    margin:0 auto;
    @media($tablet) {
        height: 110px;
    }
}

.header-logo {
    margin: auto auto auto 20px;
    width: 40px;
    img {
        display: block;
        width: 100%;
    }
    @media($tablet) {
        margin: auto 10px auto 20px;
        width: 70px;
    }
    @media($desktop) {
        margin: auto 40px auto 100px;

    }
}

.header-nav {
    margin:auto 20px auto auto;
    position: relative;
    @media($tablet) {
        width:100%;
    }
    @media($desktop) {
        margin:auto 100px auto auto;
    }
}

.login {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    @media($tablet) {
        float:right;
        padding-bottom: 0;
    }
}

.login-form {
    padding-right: 15px;
    ::after {
        content: "|";
        color: $light-grey;
        padding-left:15px;
    }
    a {
        font-size:11px;
        text-transform: uppercase;
        color:$dark-grey;
        text-decoration: none;
        @media($tablet) {
            font-size:12px;
        }
        @media($desktop) {
            font-size:16px;
        }
    }
}

.login-flag{
    width: 24px;
    img {
        display: block;
        width: 100%;
    }
    @media($tablet) {
        width: 20px;
    }
}

.login-currency {
    font-size:11px;
    text-transform: uppercase;
    color:$dark-grey;
    text-decoration: none;
    padding-left:5px;
    text-decoration: none;
    cursor: pointer;
    @media($tablet) {
        font-size:12px;
        padding-left:20px;
    }
    @media($desktop) {
        font-size:16px;
    }
    .t-currency {
        color:$dark-grey;
        text-decoration: none;
        display:none;
        @media($tablet) {
         display:inline;
        }
    }
}

.main-nav {
    ul {
        display:flex;
        flex-direction: row;
        li {
            width: 100%;
            white-space:nowrap;
            text-align: end;
            a {
                display: inline-block;
                font-size: 14px;
                text-transform: capitalize;
                color: $blue;
                font-weight: 700;
                text-decoration: none;
                @media($tablet) {
                    font-size: 16px;
                }
                @media($desktop) {
                    font-size: 20px;
                }
            }
        }
        li:not(:last-of-type){
            padding-right: 30px;
        }
        @media($tablet) {
            li:not(:last-of-type){
                padding-right: 30px;
            }
        }
    }
    @media($tablet) {
        float:left;
        position: absolute;
        bottom: 0;
        left:0;
        ul li a {
            font-weight: normal;
        }
    }
}


